.features-boxed {
  color: #313437;
  background-color: #eef4f7;
}

.features-boxed p {
  color: #7d8285;
}

.features-boxed h2 {
  font-weight: bold;
  margin-bottom: 40px;
  padding-top: 40px;
  color: inherit;
}

@media (max-width:767px) {
  .features-boxed h2 {
    margin-bottom: 25px;
    padding-top: 25px;
    font-size: 24px;
  }
}

.features-boxed .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto;
}

.features-boxed .intro p {
  margin-bottom: 0;
}

.features-boxed .features {
  padding: 50px 0;
}

.features-boxed .item {
  text-align: center;
}

.features-boxed .item .box {
  text-align: center;
  padding: 30px;
  background-color: #fff;
  margin-bottom: 30px;
}

.features-boxed .item .icon {
  font-size: 60px;
  color: #1485ee;
  margin-top: 20px;
  margin-bottom: 35px;
}

.features-boxed .item .name {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 8px;
  margin-top: 0;
  color: inherit;
}

.features-boxed .item .description {
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: 20px;
}

@media (max-width: 992px) {
  #featuresContainer {
    max-width: 684px;
  }
}

@media (max-width: 576px) {
  #featuresContainer {
    max-width: 497px;
  }
}

@media (max-width: 300px) {
  #featuresContainer {
  }
}

@media (max-width: 768px) {
  #univentsLogo {
    display: none;
  }
}

@media (max-width: 768px) {
  #paragraphInfo {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  #paragraphInfo {
  }
}

@media (max-width: 414px) {
  #paragraphInfo {
    max-width: 43px;
    min-width: 302px;
    font-size: 12px;
    text-align: center;
    padding-left: 21px;
  }
}

@media (max-width: 300px) {
  #pInfoColumn {
  }
}

@media (max-width: 414px) {
  #headingText {
    letter-spacing: 2px;
    padding-left: 18px;
  }
}

@media (max-width: 992px) {
  #download {
    height: 618px;
    min-height: 51px;
    max-height: 760px;
    width: 100%;
  }
}

@media (max-width: 360px) {
  #whatIsUnivents {
    letter-spacing: 4px;
  }
}

@media (max-width: 360px) {
  #featuresContainer {
  }
}

@media (max-width: 992px) {
  #appComingSoon {
  }
}

@media (max-width: 992px) {
  #scrollDownIcon {
    margin-top: 32px;
  }
}

@media (max-width: 576px) {
  #scrollDownIcon {
  }
}

@media (max-width: 414px) {
  #UniventsHeading {
  }
}

@media (min-width: 1200px) {
  #quote {
  }
}

@media (max-width: 414px) {
  #scrollDownIcon {
    margin: 2px;
    margin-top: 16px;
    font-size: 33px;
  }
}

@media (max-width: 375px) {
  #teamUnivents {
    margin-left: 14px;
    padding-bottom: 31px;
  }
}

#lastParagraphMobile {
  color: rgb(255,255,255);
  font-weight: 800;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  padding-bottom: 86px;
  padding-right: 8px;
  font-size: 24px;
}

@media (max-width: 375px) {
  #scrollColumn {
    margin-top: -16px;
  }
}

@media (max-width: 375px) {
  .row {
  }
}

@media (max-width: 414px) {
  #emailColumn {
    margin-top: 0px;
    padding-right: 24px;
    padding-left: 21px;
  }
}

@media (max-width: 375px) {
  #contact {
    font-size: 35px;
  }
}

@media (max-width: 992px) {
  #UseCasesSection {
  }
}

@media (max-width: 375px) {
  #useCasesOuterDiv {
  }
}

@media (max-width: 414px) {
  #useCases {
    display: none;
  }
}

#useCaseContainer {
}

#caseDescription {
  padding-bottom: 8px;
  border-bottom: .5px solid grey;
}

@media (min-width: 576px) {
  #useCaseMobile {
    display: none;
  }
}

@media (max-width: 375px) {
  #featuresContainer {
    width: 379px;
    height: 597px;
    max-width: 318px;
  }
}

@media (max-width: 414px) {
  #featuresDesktop {
    display: none;
  }
}

@media (min-width: 576px) {
  #mobileFeatures {
    display: none;
  }
}

@media (min-width: 1200px) {
  #scrollDownIcon {
    margin-top: -25px;
  }
}

@media (min-width: 1200px) {
  #mainHeader {
  }
}

@media (max-width: 414px) {
  #quote {
    line-height: 32px;
    font-weight: bold;
    width: 397px;
    height: 456px;
    display: none;
    font-size: 18px;
    font-family: Montserrat, sans-serif;
  }
}

@media (max-width: 414px) {
  #text-input {
    max-width: 205px;
  }
}

@media (max-width: 414px) {
  #submit-button {
  }
}

@media (max-width: 414px) {
  #mainNav {
    width: 414px;
    max-width: 414px;
    min-width: 414px;
  }
}

@media (max-width: 414px) {
  #mainHeader {
    background-size: cover;
  }
}

@media (max-width: 414px) {
  #logoDiv {
    height: 109px;
    width: 445px;
  }
}

@media (min-width: 435px) {
  #logoDiv {
    display: none;
  }
}

@media (max-width: 414px) {
  #mobileQuote {
    width: auto;
    text-shadow: 2px 2px 2px grey;
  }
}

@media (min-width: 420px) {
  #mobileQuote {
    display: none;
  }
}

@media (max-width: 375px) {
  #text-input {
    width: 184px;
    max-width: 182px;
  }
}

@media (max-width: 375px) {
  #submit-button {
  }
}

@media (max-width: 375px) {
  #scrollDownIcon {
    margin-top: 74px;
  }
}

@media (max-width: 375px) {
  #mainNav {
    max-width: 375px;
    min-width: 375px;
    width: 375px;
  }
}

